<h2 class="center">Edit Organisation</h2>

<%= form_for @org do |f| %>
  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, autofocus: true, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :area_code %>
    <%= f.text_field :area_code, class: 'form-control' %>
    <p class="help-block">e.g. 0113</p>
  </div>

  <div class="checkbox">
    <div class="submit">
      <%= f.submit 'Update', class: 'button' %>
    </div>
  </div>
<% end %>
