  <div class="media">
    <div class="media-left">
      <% if message.from_staff? %>
        <%= link_to '#' do %>
          <%= gravatar_for(message.sender) %>
        <% end %>
      <% else %>
        <%= link_to '#' do %>
          <%= gravatar_for(message.sender) %>
        <% end %>
      <% end %>
    </div>
    <div class="media-body">
      <%= message.body %>
    </div>
  </div>
