<div id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <%= render 'shared/flash' %>
        <div class="alert alert-info alert-signup-url" role="alert">
          Your customer signup URL is
          <%= link_to organisation_new_customer_url(current_org), organisation_new_customer_path(current_org), class: 'alert-link' %>
        </div>

        <div class="pull-right">
          <div class="btn-group">
            <%= link_to 'Create Customer', new_customer_path, class: 'btn btn-primary' %>
            <%= link_to 'Other Action', '#', class: 'btn btn-default' %>
          </div>
        </div>
        <h1><%= current_org.name %>'s Customers</h1>

        <% @customers.each do |customer| %>
          <%= render 'customers/customer', customer: customer %>
        <% end %>
      </div>
    </div>
  </div>
</div>
