<div id="info">
  <div class="container">
    <div class="row">
      <%= render 'shared/flash' %>
      <div class="col-md-4 center">
        <div class="user-info">
          <h3><%= @customer.name %></h3>
          <p><%= @customer.email %></p>

          <% if !@customer.address_field_values.all?(&:nil?) %>

            <div class="info-block">
              <h5>Address</h5>
              <% @customer.address_field_values.each do |address_line| %>
                <span class="address-line"><%= address_line %></span>
              <% end %>
            </div>
          <% end %>

          <div class="info-block">
            <% if @customer.wants_promotions.present? %>
              <% if @customer.wants_promotions %>
                <span class="glyphicon glyphicon-ok yes"></span>
              <% else %>
                <span class="glyphicon glyphicon-remove no"></span>
              <% end %>
              Promotions
            <% end %>
          </div>

          <% if @customer.is_taken? %>
            <div class="info-block">
              Customer is assigned to:<br>
              <strong>
                <%= @customer.user.name.present? ? @customer.user.name : @customer.user.email %>
                <%= '(you)' if @customer.is_taken_by?(current_user) %>
              </strong>
            </div>
          <% end %>

          <div class="info-block">
            <div class="btn-group">
              <% if @customer.is_taken_by?(current_user) %>
                <%= link_to 'Close Customer', customer_close_customer_path(@customer), class: 'btn btn-danger' %>
              <% else %>
                <%= link_to 'Assign Customer to Me', customer_assign_customer_path(@customer, current_user), class: 'btn btn-primary' %>
              <% end %>

              <% if @customer.is_taken? %>
                <% if @customer.is_taken_by?(current_user) %>
                  <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-default' %>
                <% else %>
                  <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-default', disabled: true %>
                <% end %>
              <% else %>
                <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-default' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 message-list">
        <h3 class="center">Messages</h3>

        <% if @customer.chat.messages.any? %>
          <% @customer.chat.messages.each do |message| %>
            <%= render 'customers/message', message: message %>
          <% end %>
        <% else %>
          <p class="center">This customer has not sent any messages yet.</p>
        <% end %>
        <div class="reply">
          <%= form_tag '' do %>
            <% if @customer.is_taken? %>
              <% if @customer.is_taken_by?(current_user) %>
                <textarea class="form-control" rows="7" name="message_body" id="message_body" placeholder="Type your reply..."></textarea>
              <% else %>
                <textarea class="form-control" rows="7" name="message_body" id="message_body" disabled="disabled" placeholder="This customer is assigned to <%= customer.user.name %>..."></textarea>
              <% end %>
            <% else %>
              <textarea class="form-control" rows="7" name="message_body" id="message_body" disabled="disabled" placeholder="To reply, assign the customer to you..."></textarea>
            <% end %>

            <div class="">
              <%= submit_tag 'Send', class: 'btn btn-primary pull-right hard-top-10' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
