<div id="info">
  <div class="container">
    <div class="row">
      <div class="col-md-4 user-info center">
        <h3><%= @customer.name %></h3>
        <p><%= @customer.email %></p>

        <% if @customer.address_line_1.present? %>

          <div class="info-block">
            <h5>Address</h5>
            <% @customer.address_fields.each do |field| %>
              <span class="address-line"><%= @customer[field] %></span>
            <% end %>
          </div>

        <% end %>

        <div class="info-block">
          This user <strong><%= @customer.wants_promotions ? 'wants' : 'does not want' %></strong> to receive promotions.
        </div>

        <% if @customer.is_taken? %>
          <div class="info-block">
            Customer is assigned to:<br>
            <strong>
              <%= @customer.user.name.present? ? @customer.user.name : @customer.user.email %>
              <%= '(you)' if @customer.is_taken_by?(current_user) %>
            </strong>
          </div>
        <% end %>

        <div class="info-block">
          <div class="btn-group">
            <% if @customer.is_taken_by?(current_user) %>
              <%= link_to 'Close Customer', customer_close_customer_path(@customer), class: 'btn btn-danger' %>
            <% else %>
              <%= link_to 'Assign Customer to Me', customer_assign_customer_path(@customer, current_user), class: 'btn btn-primary' %>
            <% end %>

            <% if @customer.is_taken? %>
              <% if @customer.is_taken_by?(current_user) %>
                <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-default' %>
              <% else %>
                <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-default', disabled: true %>
              <% end %>
            <% else %>
              <%= link_to 'Edit', edit_customer_path(@customer), class: 'btn btn-default' %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <h3 class="center">Messages</h3>

        <% if @customer.chat.messages.any? %>
        <% else %>
          <p class="center">This customer has not sent any messages yet.</p>
        <% end %>
      </div>
    </div>
  </div>
</div>
