<div id="hero">
  <div class="container">
    <h1 class="hero-text animated fadeInDown">
      Effectively communicate
      <br/>
      With Customers via SMS
    </h1>
    <p class="sub-text animated fadeInDown">
      Communicating via SMS increases customer satisfaction and turnover.
    </p>
    <div class="cta animated fadeInDown">
      <%= link_to 'See the tour', '#features', class: 'button-outline page-scroll' %>
      <%= link_to 'Sign up for a free trial', new_user_registration_path, class: 'button' %>
    </div>
    <div class="img"></div>
  </div>
</div>
<div id="features">
  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h2>Autonomous, affordable, revolutionary.</h2>
        <p>Wave SMS is a subscription based, online platform designed to allow businesses like you to become closer to your customers.</p>
      </div>
    </div>
    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Save customers card details for easy payment.</h4>
        <p>
          Wave SMS will generate a custom link for you to give to customers to add their card details which will be saved and available for one-click ordering later.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= image_tag 'feature1.png', class: 'img-responsive' %>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row feature backwards">
      <div class="col-md-6 info">
        <h4>Automated responses when you're closed</h4>
        <p>
          With Wave SMS you can set up automated responses to send to customers that text out of opening hours.
        </p>
      </div>
      <div class="col-md-6 image">
        <%= image_tag 'feature2.png', class: 'img-responsive' %>
      </div>
    </div>
    <div class="divider"></div>
    <div class="row feature">
      <div class="col-md-6 info">
        <h4>Let customers know on your website</h4>
        <p>With a single line of JS you can add a 'text us' button and let customers know the best way to conctact you.</p>
      </div>
      <div class="col-md-6 image">
        <%= image_tag 'feature1.png', class: 'img-responsive' %>
      </div>
    </div>
  </div>
</div>
<div id="slider">
  <div class="container">
    <div class="row">
      <div class="col-md-12 slide-wrapper">
        <div class="slideshow">
          <div class="btn-nav prev"></div>
          <div class="btn-nav next"></div>
          <div class="slide active">
            <%= image_tag 'slider/slide3.png' %>
          </div>
          <div class="slide">
            <%= image_tag 'slider/slide4.png' %>
          </div>
          <div class="slide">
            <%= image_tag 'slider/slide1.png' %>
          </div>
          <div class="slide">
            <%= image_tag 'slider/slide5.png' %>
          </div>
          <div class="slide">
            <%= image_tag 'slider/slide2.png' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="cta">
  <p>
    Start your free 14 day trial!
  </p>
  <%= link_to 'Sign up for free', new_user_registration_path %>
</div>
<div id="clients">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h3>Our Customers</h3>
        <p>
          These are some of our customers who have helped us by using our product.
        </p>
      </div>
    </div>
  </div>
</div>
