<!DOCTYPE html>
<html>
<head>
  <title><%= page_title @page_title %></title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">

  <%= render 'layouts/header' %>

  <div class="sidebar">
  <%= render 'layouts/sidebar' if user_signed_in? %>
  </div>

  <div class="content">
    <div class="content-container"><%= yield %></div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
