<!DOCTYPE html>
<html>
<head>
  <title><%= page_title @page_title %></title>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all' %>

  <%= csrf_meta_tags %>
</head>
<body class="<%= controller.controller_name %> <%= controller.action_name %>">
  <%= render 'layouts/header' %>

  <div class="container">
    <div class="row header">
      <div class="col-md-12">
        <h4><%= @page_title %></h4>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <div class="wrapper clearfix">
          <div class="formy">
            <div class="row">
              <div class="col-md-12">
                <%= render 'shared/flash' %>
                <%= yield %>
              </div>
            </div>
          </div>
        </div>

        <% if devise_controller? %>
          <div class="already-account">
            <%= render "devise/shared/links" %>
          </div>
        <% end %>

      </div>
    </div>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
